body .container{
    margin: 20px;
    padding: 20px;
    border-style: none;
    background-color: white;
}
.nav-link{
    margin: 0px 30px;
}
.breadcrumb{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0;
}
.card{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}